:root {
  --background-color: #111;
  --background-color-light: white;
  --dark-gray: rgba(88,88,88,1);
  --gray-color: #bbb;
  --light-gray: rgba(245,245,245,1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.light {
  background-color: var(--background-color-light);
  color: var(--background-color);
}

.dark{
  background-color: var(--background-color);
  color: var(--gray-color);
}

.wrapper {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

